<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <title>Login</title>

</head>

<body>
    <main layout:fragment="content">

        <div class="container">
            <form>
                <h2 class="form-signin-heading">Please log in</h2>
                <p>
                    <label for="username" class="sr-only">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Username"
                        required autofocus>
                </p>
                <p>
                    <label for="password" class="sr-only">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password"
                        required>
                </p>
                <input name="_csrf" type="hidden"
                    value="Rzp_UzpruNaEzFUvhXzJdSk6jVgx1m6ZgM0O-njbE9hQIdk8dAsbZgtf2--pr21OsFH9QRhZoGAI5ly0tfhrw0HvcO5mQ7oN" />
                <button id="btn-login" class="btn btn-lg btn-primary" type="button">Sign in</button>
            </form>
        </div>
    </main>
</body>

</html>