<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User Registration</h2>
    <form th:action="@{/newUser}" th:object="${user}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" name="password" required>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>